  <!-- Slides -->
  <section class="slide1">
    <div class="wrap-slick1">
      <div class="slick1">
        <!-- Slide1 -->
        <div id="diapo-1" class="item-slick1 item1-slick1" >
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
              <!-- Women Collection 2018 -->Collection Habza 2020
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
              <!-- New arrivals -->Nouveaux arrivages
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
              <!-- Button -->
              <a href="product.html" class="txtBouton flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                <!-- Shop Now -->Acheter Maintenant
              </a>
            </div>
          </div>
        </div>
        
        <!-- Slide2 -->
        <div id="diapo-2" class="panelAccueil item-slick1 item2-slick1"  >
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
              <!-- Women Collection 2018 -->Collection Habza 2020
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
              <!-- New arrivals -->Nouveaux arrivages
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
              <!-- Button -->
              <a href="product.html" class="txtBouton flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                <!-- Shop Now -->Acheter Maintenant
              </a>
            </div>
          </div>
        </div>

        <!-- Slide3 -->
        <div id="diapo-3" class="item-slick1 item3-slick1" >
          <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
              <!-- Women Collection 2018 -->Collection Habza 2020
            </span>

            <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
              <!-- New arrivals -->Nouveaux arrivages
            </h2>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
              <!-- Button -->
              <a href="product.html" class="txtBouton flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                <!-- Shop Now -->Acheter Maintenant
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--Blocks Categories -->
  <section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- Habits -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img [src]="habits" alt="IMG-CATEGORIE-HABITS">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                <!-- Dresses -->Habits
              </a>
            </div>
          </div>

          <!--Accessoires -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img [src]="accessoires" alt="IMG-CATEGORIE-ACCESSOIRES">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                <!-- Sunglasses -->Accessoires
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- Electronique -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img [src]="electronique" alt="IMG-CATEGORIE-ELECTRONIQUE">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                <!-- Watches -->Electronique
              </a>
            </div>
          </div>

          <!-- Chaussures -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img [src]="chaussures" alt="IMG-CATEGORIE-CHAUSURES">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                <!-- Footerwear -->Chaussures
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
          <!-- Sacs -->
          <div class="block1 hov-img-zoom pos-relative m-b-30">
            <img [src]="sacs" alt="IMG-CATEGORIE-SACS">

            <div class="block1-wrapbtn w-size2">
              <!-- Button -->
              <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                <!-- Bags -->Sacs
              </a>
            </div>
          </div>

          <!--Block Inscription -->
          <div class="block2 wrap-pic-w pos-relative m-b-30">
            <img src="assets/images/icons/bg-01.jpg" alt="IMG">

            <div class="block2-content sizefull ab-t-l flex-col-c-m">
              <h4 class="m-text4 t-center w-size3 p-b-8">
                <!-- Sign up & get 20% off --> Inscrivez-vous Maintenant
              </h4>

              <p class="t-center w-size4">
                <!-- Be the frist to know about the latest fashion news and get exclu-sive offers -->Profitez d'une interface conviviale et intuitive à présenter à vos clients
              </p>

              <div class="w-size2 p-t-25">
                <!-- Button -->
                <a href="/authentification/inscription" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                  <!-- Sign Up -->S'inscrire
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our product -->
  <section class="bgwhite p-t-45 p-b-58">
    <div class="container">
      <div class="sec-title p-b-22">
        <h3 class="m-text5 t-center">
          <!-- Our Products -->Les Produits
        </h3>
      </div>

      <!-- Tab01 -->
      <div class="tab01">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Best Seller</a>
          </li>
          <li class="nav-item">
            <!-- Featured -->
            <a class="nav-link" data-toggle="tab" href="#featured" role="tab">En vedette</a>
          </li>
          <li class="nav-item">
            <!-- Featured -->
            <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Vente</a>
          </li>
          <li class="nav-item">
            <!-- Top Rate -->
            <a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Mieux Notés</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-t-35">
          <!-- - -->
          <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Produits/item-07.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Sous fesses Dorianse
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      10 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="http://127.0.0.1:8887/Produits/item-05.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Montre Habza
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      15 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="http://127.0.0.1:8887/Produits/item-02.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Sac Habza Cuir Veritable
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      150 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Models/0c07793455c424bed24f6552e0c2cf45.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      10 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Models/0bf31c25e4604c1bf56cdac6f9dd5ead.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      10 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Models/0cd0e303eea845af778b1311456d7947.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      10 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Models/16661d0131d88d33c9dc77b0029b450c.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      10 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="http://127.0.0.1:8887/Produits/item-07.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-oldprice m-text7 p-r-5">
                      9000 FCFA
                    </span>

                    <span class="block2-newprice m-text8 p-r-5">
                      9000 FCFA
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- - -->
          <div class="tab-pane fade" id="featured" role="tabpanel">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="http://127.0.0.1:8887/Models/2179c47afe01c53ea3820a3528557a10.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Costume Africain Habza
                    </a>

                    <span class="block2-oldprice m-text7 p-r-5">
                      $29.50
                    </span>

                    <span class="block2-newprice m-text8 p-r-5">
                      $15.90
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="http://127.0.0.1:8887/Models/2aab26f72720e88c51cbdd45d890aba7.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $75.00
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="http://127.0.0.1:8887/Models/350798acd207a04ca4d0ab2a3c01337d.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $92.50
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="assets/images/item-06.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $75.00
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-11.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Frayed denim shorts
                    </a>

                    <span class="block2-oldprice m-text7 p-r-5">
                      $29.50
                    </span>

                    <span class="block2-newprice m-text8 p-r-5">
                      $15.90
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="assets/images/item-12.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $75.00
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="assets/images/item-15.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $92.50
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="tab-pane fade" id="sale" role="tabpanel">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-01.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $75.00
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-14.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $92.50
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-06.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $75.00
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-08.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      $92.50
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="tab-pane fade" id="top-rate" role="tabpanel">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      5000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="assets/images/item-03.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      19 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="assets/images/item-05.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Coach slim easton black
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      30 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-07.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Frayed denim shorts
                    </a>

                    <span class="block2-oldprice m-text7 p-r-5">
                      16 000 FCFA
                    </span>

                    <span class="block2-newprice m-text8 p-r-5">
                      17 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="assets/images/item-10.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Coach slim easton black
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      30 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                    <img src="assets/images/item-11.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Frayed denim shorts
                    </a>

                    <span class="block2-oldprice m-text7 p-r-5">
                      15 000 FCFA
                    </span>

                    <span class="block2-newprice m-text8 p-r-5">
                      15 000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="assets/images/item-12.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Herschel supply co 25l
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      7000 FCFA
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <!-- Block2 -->
                <div class="block2">
                  <div class="block2-img wrap-pic-w of-hidden pos-relative">
                    <img src="assets/images/item-15.jpg" alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                      <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                      </a>

                      <div class="block2-btn-addcart w-size1 trans-0-4">
                        <!-- Button -->
                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                          Ajouter au Panier
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="block2-txt p-t-20">
                    <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                      Denim jacket blue
                    </a>

                    <span class="block2-price m-text6 p-r-5">
                      9000 FCFA
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Banner video -->
  <!-- <section class="parallax0 parallax100" style="background-image: url(assets/images/bg-video-01.jpg);"></section> -->
  <section class="parallax0 parallax100" style="background-image: url(http://127.0.0.1:8887/Me%20Myself%20and%20I/vac4.jpg);">
    <div class="overlay0 p-t-190 p-b-200">
      <div class="flex-col-c-m p-l-15 p-r-15">
        <span class="m-text9 p-t-45 fs-20-sm">
          <!-- The Beauty -->Le LookBook
        </span>

        <h3 class="l-text1 fs-35-sm">
          <!-- Lookbook --> Beauté
        </h3>

        <span class="btn-play s-text4 hov5 cs-pointer p-t-25" data-toggle="modal" data-target="#modal-video-01">
          <i class="fa fa-play" aria-hidden="true"></i>
          Play Video

       </span>
      </div>
    </div>
  </section>



  <!-- Instagram -->
  <section class="instagram p-t-20">
    <div class="sec-title p-b-52 p-l-15 p-r-15">
      <h3 class="m-text5 t-center">
        @ suivez nous sur instagram
      </h3>
    </div>

    <div class="flex-w">
      <!-- Block4 -->
      <div class="block4 wrap-pic-w">
        <img src="http://127.0.0.1:8887/Instagram/amsatus_14488195_1839654799604922_5220079006468014080_n.jpg" alt="IMG-INSTAGRAM">

        <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
          <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
            <span class="p-t-2">39</span>
          </span>

          <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
              Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
            </p>

            <span class="s-text9">
              Photo by @nancyward
            </span>
          </div>
        </a>
      </div>

      <!-- Block4 -->
      <div class="block4 wrap-pic-w">
        <img src="http://127.0.0.1:8887/Instagram/amsatus_39603589_445721159251888_3278771522595979264_n.jpg" alt="IMG-INSTAGRAM">

        <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
          <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
            <span class="p-t-2">39</span>
          </span>

          <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
              Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
            </p>

            <span class="s-text9">
              Photo by @nancyward
            </span>
          </div>
        </a>
      </div>

      <!-- Block4 -->
      <div class="block4 wrap-pic-w">
        <img src="http://127.0.0.1:8887/Instagram/amsatus_44283449_1628814907417996_659709895463707189_n.jpg" alt="IMG-INSTAGRAM">

        <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
          <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
            <span class="p-t-2">39</span>
          </span>

          <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
              Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
            </p>

            <span class="s-text9">
              Photo by @nancyward
            </span>
          </div>
        </a>
      </div>

      <!-- Block4 -->
      <div class="block4 wrap-pic-w">
        <img src="http://127.0.0.1:8887/Instagram/amsatus_46635813_274190433294468_8317110728463040665_n.jpg" alt="IMG-INSTAGRAM">

        <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
          <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
            <span class="p-t-2">39</span>
          </span>

          <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
              Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
            </p>

            <span class="s-text9">
              Photo by @nancyward
            </span>
          </div>
        </a>
      </div>

      <!-- Block4 -->
      <div class="block4 wrap-pic-w">
        <img src="http://127.0.0.1:8887/Instagram/amsatus_45358406_2218965851651196_2061865538252208183_n.jpg" alt="IMG-INSTAGRAM">

        <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
          <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
            <span class="p-t-2">39</span>
          </span>

          <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
              Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
            </p>

            <span class="s-text9">
              Photo by @nancyward
            </span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Shipping -->
  <section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">
          <!-- Free Delivery Worldwide -->
          Service Spécialisé de Livraison partout au Sénégal
        </h4>

        <a href="#" class="s-text11 t-center">
          <!-- Click here for more info -->
          Cliquez ici pour plus d'informations
        </a>
      </div>

      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
        <h4 class="m-text12 t-center">
          Retours selon conditions du vendeur
        </h4>

        <span class="s-text11 t-center">
          <!-- Simply return it within 30 days for an exchange. -->
          Simplement retourner dans le délai accordé par le vendeur pour un échange.
        </span>
      </div>

      <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
        <h4 class="m-text12 t-center">
          Disponibilité Services
        </h4>

        <span class="s-text11 t-center">
          <!-- Shop open from Monday to Sunday -->
          Du Lundi au Vendredi
        </span>
      </div>
    </div>
  </section> 
  
